.main__container {
  width: 100vw;
  display: flex;
}

.main__button-container--left {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 99;
}

.slide-left {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main__button-container--right {
  height: 40px;
  width: 50px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 99;
}

.slide-right {
  background-color: transparent;
  border: none;
  cursor: pointer;
}