.type-item-container {
  height: auto;
  width: calc(25% - 10px);
  padding: 5px;
  background-color: transparent;
  display: flex;
}

.type-item {
  height: 365px;
  width: 100%;
}

.type-item__attribute {
  height: auto;
  width: auto;
  margin: 25px 0px 0px 20px;
  display: flex;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.type-item__type {
  height: auto;
  width: auto;
  margin-left: 20px;
  display: flex;
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  bottom: 40px;
}

.type-item__listing {
  height: auto;
  width: auto;
  margin-left: 20px;
  display: flex;
  position: absolute;
  color: #fff;
  bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}